.auth_wrapper {
 display: grid;
 grid-template-rows: 30vh 30vh 30vh;
 align-items: center;
 justify-content: center;
 width: 100%;
}

.item1 {
 border-radius: 6px;
 box-shadow: 5px 5px 5px rgba(0,0,0,0.5) !important;

}

.card-action {
 display: flex;
 flex-direction: column;
 justify-content: center;
}

Button {
margin-top: 1vh!important;
 width: 100%;
}